.myanmar-svg {
    width: 5em;
}
svg {
    width: 15px;
}
nav {
    
    background-color: rgb(132, 1, 255);
}

p {
    font-size: 1rem;
}

.news-section {
    max-width: 15em;
    min-width: 15em;
    background: wheat;
    border-radius: 1rem;
}

.introduction-line:hover {
    cursor: pointer;
    background: gray;
    transition: 1s;
}
p {
    font-size: 13px;
}
.paragraph, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6  {
    
    display: none;
    
}
.paragraph {
    display: block;
}

.vacancy-announcement-section {
    width: 85%;
}

ul {
    list-style: none;
}

.footer-ul {
    gap:40px;
}

li {
    font-size: 14px;
}

footer {
    margin-bottom: 0;
    background: rgba(5, 250, 230, 0.788);
}

.user-login {
    width: 20em;
}

/* for developer contact page */

.carousel {
    width: 30em;
}

.d-block {
    width: 30em;
}

.form-section {
    width: 30em;
}
.input-bar {
    transform: translateX(20em);
}
.email {
    transform:  translateX(20em);
}

.login-form {
    width: 20em;
}

.clock-hr {
    width: 20%;
    margin: 0 auto;
    
}


@media screen and (max-width: 500px) {
    .hero-section {
      flex-direction: column;
      align-items: center;
      
    };
}

@media(max-width: 500px) {
    table {
     display: block;
     width: 100%;
     margin-left: 0;
     margin-right: 10em;
     align-items: center;
    }
 
    thead {
     display: none;
    }
 
    tr, td, tbody {
     display: block;
     width: 100%;
    }
 
    tr {
     margin-bottom: 15px;
    }
 
    td {
     text-align: right;
     padding-left: 50%;
     text-align: right;
     position: relative;
    }
 
    td::before {
     content: attr(data-label);
     position:absolute;
     left: 0;
     width: 50%;
     padding-left: 15px;
     font-size: 15px;
     text-align: left;
 
    }

    .email-div {
        width: 100%;
        align-items: right;
    }

    footer ul {
        flex-direction: column;
        text-align: center;
        
    }
    
    .carousel {
        width: 15em;

    }
    
    .carousel-item {
        width: 15em;
    }

    .aboutus {
        width: 15em;
        align-items: center;
    }

   .aboutus h2 {
    font-size: 10px;
   }
    
 }

 
